  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

.constitute
{
    top: 110px;
    left: 150px;
}

.pop{
    font-family: 'Poppins', system-ui;
}
.patrick{
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #f7f7f7;
}


body {
    opacity: 0;
    animation: fadeInAnimation ease-in-out .5s;
    animation-fill-mode: forwards;                                                                                                                                    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-animation {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);
}


@keyframes zoom-in {
    from{
        scale: 0;
    }
    to{
        scale:1rem;
    }
}